flask
flask-cors
flasgger
python-dotenv
prometheus-flask-exporter
flask-talisman
pyjwt
cryptography
pymongo
redis
flask-caching
flask-limiter
gunicorn
pytest
flake8
mongomock
fakeredis
boto3
pydantic
